<section>
	<div class="grid">
		<fs-link href="/app/recipe/add" role="button">
			<span>Ajouter une recette</span>
		</fs-link>
		<fs-link href="/app/recipes" role="button">
			<span>Recettes</span>
		</fs-link>
		<fs-link href="/app/ingredients" role="button">
			<span>Ingrédients</span>
		</fs-link>
		<fs-link href="/app/categories" role="button">
			<span>Catégories</span>
		</fs-link>
		<fs-link href="/app/dishes" role="button">
			<span>Plats de la semaine</span>
		</fs-link>
	</div>
</section>
<section>
	<fs-lists/>
</section>
