<fs-loading-block loadingTimer="1100">
	<fs-animated-section class="home" height="3000">
		<h1
				data-0-0="transform: scale(4);"
				data-0-1="transform: scale(calc(4 - 3 * §§proportion§§))"
		>foodshop</h1>
		<div
				data-0-0.7="opacity: 0;transform: translateY(200px);transition: all 0.8s ease-in-out;"
				data-0.7-1="opacity: 1;transform: translateY(0);transition: all 0.5s ease-in-out;"
		>
			<div>foodshop est une application permettant de gérer sa liste de courses avec un gain de temps lorsque vous créez vos listes ou que vous faites vos courses.</div>
			<div>On y retrouve aussi les recettes que l'on aime permettant de choisir rapidement les plats de la semaine et d'ajouter rapidement les ingrédients associés.</div>
			<div>C'est l'application indispensable aux familles qui en ont marre de perdre du temps lorsqu'elles font des courses !</div>
		</div>
		<a
				href="/app"
				role="button"
				data-0-0.7="opacity: 0;transform: translateY(200px);transition: all 0.5s ease-in-out;"
				data-0.7-1="opacity: 1;transform: translateY(0);transition: all 0.8s ease-in-out;"
		>
			<span>Se connecter</span>
		</a>
	</fs-animated-section>
	<fs-animated-section class="first" height="3000">
		<div class="grid">
			<div>Créer et gérer votre <span
					data-0-0.01="transform: scale(1);"
					data-0.01-0.2="transform: scale(calc(1 + §§proportion§§ * 4))"
					data-0.2-0.4="transform: scale(calc(1.8 - (§§proportion§§ * 4 - 0.8))"
					data-0.4-1="transform: scale(1)"
					class="alt"
			>liste</span>, vos <span
					data-0-0.3="transform: scale(1);"
					data-0.31-0.5="transform: scale(calc(1 + (§§proportion§§ - 0.3) * 4))"
					data-0.5-0.7="transform: scale(calc(1.8 - ((§§proportion§§ - 0.3) * 4 - 0.8))"
					data-0.7-1="transform: scale(1)"
					class="alt"
			>ingrédients</span>, vos <span
					data-0-0.4="transform: scale(1);"
					data-0.41-0.6="transform: scale(calc(1 + (§§proportion§§ - 0.4) * 4))"
					data-0.6-0.8="transform: scale(calc(1.8 - ((§§proportion§§ - 0.4) * 4 - 0.8))"
					data-0.8-1="transform: scale(1)"
					class="alt"
			>recettes</span> et vos <span
					data-0-0.5="transform: scale(1);"
					data-0.51-0.7="transform: scale(calc(1 + (§§proportion§§ - 0.5) * 4))"
					data-0.7-0.9="transform: scale(calc(1.8 - ((§§proportion§§ - 0.5) * 4 - 0.8))"
					data-0.9-1="transform: scale(1)"
					class="alt"
			>catégories</span>.
			</div>
			<img
					data-0-0.6="transform: translateY(-200px);opacity: 0;"
					data-0.6-0.8="transform: translateY(calc(-200px + (§§proportion§§px - 0.6px) * 1000));opacity: calc(1 * ((§§proportion§§ - 0.6) * 5));"
					data-0.8-1="transform: translateY(0);opacity: 1;"
					src="https://picsum.photos/id/1033/536/354"
					alt="exemple 2"
			/>
		</div>
		<div>
			<img
					data-0-0.7="transform: translateY(-200px);opacity: 0;"
					data-0.7-0.9="transform: translateY(calc(-200px + (§§proportion§§px - 0.7px) * 1000));opacity: calc(1 * ((§§proportion§§ - 0.7) * 5));"
					data-0.9-1="transform: translateY(0);opacity: 1;"
					src="https://picsum.photos/id/1023/536/354"
					alt="exemple 2"
			/>
		</div>
	</fs-animated-section>
	<fs-animated-section class="second" height="5000">
		<div
				data-0-0="opacity: 1;"
				data-0.3-1="opacity: 0;"
		>N'oubliez plus d'articles lors de vos courses.
		</div>
		<div
				class="infos"
				data-0-0="opacity: 1;"
				data-0.3-1="opacity: 0;"
		>Noter et enregistrer facilement et n'importe où un ingrédient.
		</div>
		<div
				class="grid one"
				data-0-0="opacity: 0;"
				data-0-0.3="opacity: calc(§§proportion§§*8);"
				data-0.3-0.6="opacity: calc(8 - §§proportion§§*8);"
				data-0.6-1="opacity: 0;"
		>
			<div>
				<div
						data-0-0.1="opacity: 0;transform: translateY(200px);transition: all 0.5s ease-in-out;"
						data-0.1-0.4="opacity: 1;transform: translateY(0);transition: all 0.5s ease-in-out;"
						data-0.3-0.4="opacity: 0;transform: translateY(-150px);transition: all 0.5s ease-in-out;"
				>L'ajout d'un ingrédient à la liste de course l'enregistre également dans la liste des ingrédients.
				</div>
			</div>
			<div>
				<img src="https://picsum.photos/id/102/700/500" alt="exemple 1"/>
			</div>
		</div>
		<div
				class="grid two"
				data-0-0.3="opacity: 0;"
				data-0.3-0.6="opacity: calc(§§proportion§§*8 - 0.3*8);"
				data-0.6-1="opacity: calc(8 - §§proportion§§*8 - 0.3*8);"
		>
			<div>
				<div
						data-0-0.4="opacity: 0;transform: translateY(200px);transition: all 0.5s ease-in-out;"
						data-0.4-0.6="opacity: 1;transform: translateY(0);transition: all 0.5s ease-in-out;"
						data-0.6-0.7="opacity: 0;transform: translateY(-150px);transition: all 0.5s ease-in-out;"
				>Lors de l'ajout d'un ingrédient, une liste de choix vous permet de choisir l'ingrédient.
				</div>
			</div>
			<div>
				<img src="https://picsum.photos/id/101/700/500" alt="exemple 1"/>
			</div>
		</div>
		<div
				class="grid three"
				data-0-0.6="opacity: 0;"
				data-0.6-1="opacity: calc(§§proportion§§*8 - 0.6*8);"
		>
			<div>
				<div
						data-0-0.7="opacity: 0;transform: translateY(200px);transition: all 0.5s ease-in-out;"
						data-0.7-0.8="opacity: 1;transform: translateY(0);transition: all 0.5s ease-in-out;"
				>Ajouter un nombre ou un poids en fonction de vos besoins.
				</div>
			</div>
			<div>
				<img src="https://picsum.photos/id/100/700/500" alt="exemple 1"/>
			</div>
		</div>
	</fs-animated-section>
	<fs-animated-section class="three" height="6000">
		<div class="grid">
			<div>Des courses plus rapides et plus fun.
			</div>
			<div class="infos">
				<div
						data-0-0.1="opacity: 0;transform: scale(1);transition: all 0.5s ease-in-out;"
						data-0.1-0.25="opacity: 1;transform: scale(1.3);transform-origin: center left;transition: all 0.5s ease-in-out;"
						data-0.25-0.95="opacity: 0;transform: scale(1);transition: all 0.5s ease-in-out;"
						data-0.95-1="opacity: 1;transition: all 0.5s ease-in-out;"
				>Créer des catégories et trier vos ingrédients.
				</div>
				<div
						data-0-0.25="opacity: 0;transform: scale(1);transition: all 0.5s ease-in-out;"
						data-0.25-0.4="opacity: 1;transform: scale(1.3);transform-origin: center left;transition: all 0.5s ease-in-out;"
						data-0.4-0.95="opacity: 0;transform: scale(1);transition: all 0.5s ease-in-out;"
						data-0.95-1="opacity: 1;transition: all 0.5s ease-in-out;"
				>Créer des recettes at associez y les ingrédients.
				</div>
				<div
						data-0-0.4="opacity: 0;transform: scale(1);transition: all 0.5s ease-in-out;"
						data-0.4-0.55="opacity: 1;transform: scale(1.3);transform-origin: center left;transition: all 0.5s ease-in-out;"
						data-0.55-0.95="opacity: 0;transform: scale(1);transition: all 0.5s ease-in-out;"
						data-0.95-1="opacity: 1;transition: all 0.5s ease-in-out;"
				>Tous les ingrédients sont ajoutés en choisissant une recette.
				</div>
				<div
						data-0-0.55="opacity: 0;transform: scale(1);transition: all 0.5s ease-in-out;"
						data-0.55-0.7="opacity: 1;transform: scale(1.3);transform-origin: center left;transition: all 0.5s ease-in-out;"
						data-0.7-0.95="opacity: 0;transform: scale(1);transition: all 0.5s ease-in-out;"
						data-0.95-1="opacity: 1;transition: all 0.5s ease-in-out;"
				>Rayer un ingrédient est automatiquement partagé.
				</div>
				<div
						data-0-0.7="opacity: 0;transform: scale(1);transition: all 0.5s ease-in-out;"
						data-0.7-0.85="opacity: 1;transform: scale(1.3);transform-origin: center left;transition: all 0.5s ease-in-out;"
						data-0.85-0.95="opacity: 0;transform: scale(1);transition: all 0.5s ease-in-out;"
						data-0.95-1="opacity: 1;transition: all 0.5s ease-in-out;"
				>Partager avec le reste de votre famille.
				</div>
			</div>
		</div>
		<div class="grid">
			<img
					data-0-0.1="opacity: 0;transition: all 0.5s ease-in-out;"
					data-0.1-0.25="opacity: 1;transition: all 0.5s ease-in-out;"
					data-0.25-0.95="opacity: 0;transition: all 0.5s ease-in-out;"
					data-0.95-1="opacity: 1;transition: all 0.5s ease-in-out;"
					src="https://picsum.photos/id/104/536/354"
					alt="exemple 1"
			/>
			<img
					data-0-0.25="opacity: 0;transition: all 0.5s ease-in-out;"
					data-0.25-0.4="opacity: 1;transition: all 0.5s ease-in-out;"
					data-0.4-0.95="opacity: 0;transition: all 0.5s ease-in-out;"
					data-0.95-1="opacity: 1;transition: all 0.5s ease-in-out;"
					src="https://picsum.photos/id/1029/536/354"
					alt="exemple 2"
			/>
			<img
					data-0-0.4="opacity: 0;transition: all 0.5s ease-in-out;"
					data-0.4-0.55="opacity: 1;transition: all 0.5s ease-in-out;"
					data-0.55-0.95="opacity: 0;transition: all 0.5s ease-in-out;"
					data-0.95-1="opacity: 1;transition: all 0.5s ease-in-out;"
					src="https://picsum.photos/id/1027/536/354"
					alt="exemple 2"
			/>
			<img
					data-0-0.55="opacity: 0;transition: all 0.5s ease-in-out;"
					data-0.55-0.7="opacity: 1;transition: all 0.5s ease-in-out;"
					data-0.7-0.95="opacity: 0;transition: all 0.5s ease-in-out;"
					data-0.95-1="opacity: 1;transition: all 0.5s ease-in-out;"
					src="https://picsum.photos/id/1008/536/354"
					alt="exemple 2"
			/>
			<img
					data-0-0.7="opacity: 0;transition: all 0.5s ease-in-out;"
					data-0.7-0.85="opacity: 1;transition: all 0.5s ease-in-out;"
					data-0.85-0.95="opacity: 0;transition: all 0.5s ease-in-out;"
					data-0.95-1="opacity: 1;transition: all 0.5s ease-in-out;"
					src="https://picsum.photos/id/1035/536/354"
					alt="exemple 2"
			/>
		</div>
		<div class="connectButtons">
			<a
					href="/signup"
					role="button"
					data-0-0.95="opacity: 0;transform: translateY(400px);transition: all 0.7s ease-in-out;"
					data-0.95-1="opacity: 1;transform: translateY(70px);transition: all 0.5s ease-in-out;"
			>
				<span>Inscrivez-vous</span>
			</a>
			<a
					href="/app"
					role="button"
					data-0-0.95="opacity: 0;transform: translateY(400px);transition: all 0.5s ease-in-out;"
					data-0.95-1="opacity: 1;transform: translateY(80px);transition: all 0.7s ease-in-out;"
			>
				<span>Connectez vous</span>
			</a>
		</div>
	</fs-animated-section>
</fs-loading-block>
